*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}



#btnlight, #btndark{
    padding:8px 16px;
    border:none;
    margin:5px;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
    transition:0.25s ease;
}

#btnlight{
    background:#ffffff;
    color:#000;
}

#btndark{
    background:#1e293b;
    color:white;
}

#btnlight:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 20px rgba(255,255,255,0.4);
}

#btndark:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 20px rgba(0,0,0,0.6);
}


.container{
    margin-top:30px;
    width:350px;
    padding:25px;
    border-radius:20px;


    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}


.items{
    text-align:center;
}

.items span{
    font-size:45px;
    font-weight:700;
    padding:0 5px;
    letter-spacing:1px;
}



#start, #stop, #reset{
    padding:12px 20px;
    border:none;
    margin:8px;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    width:90px;

    background:#1e293b;
    color:white;

    transition:0.25s ease;
}


#start:hover, #stop:hover, #reset:hover{
    transform:translateY(-4px);
    box-shadow:0 7px 25px rgba(0,0,0,0.6);
}


#start{
    background:#22c55e;
}

#start:hover{
    box-shadow:0 7px 25px rgba(34,197,94,0.6);
}

#stop{
    background:#ef4444;
}


#stop:hover{
box-shadow:0 7px 25px rgba(239,68,68,0.6);
}



#reset{
    background:#3b82f6;
}

#reset:hover{
    box-shadow:0 7px 25px rgba(59,130,246,0.6);
}


@media (max-width:450px){
    .container{
        width:90%;
        padding:20px;
    }

    .items span{
        font-size:35px;
    }

    #start, #stop, #reset{
        width:80px;
        margin:6px;
        padding:10px 16px;
        font-size:14px;
    }
}
